* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #141010;
}

body {
  background: radial-gradient(
    circle at 48.7% 44.3%,
    rgb(30, 144, 231) 0%,
    rgb(56, 113, 209) 22.9%,
    rgb(38, 76, 140) 76.7%,
    rgb(31, 63, 116) 100.2%
  );
}

.service-1,
.service-2,
.service-3 {
  width: 400px;
  height: 400px;
  background: linear-gradient(
    156.8deg,
    rgb(30, 144, 231) 27.1%,
    rgb(67, 101, 225) 77.8%
  );
}

.card {
  width: 400px;
  height: 300px;
  margin: 0 auto;
  /* background-color: #011522; */
  background-color: #5356ff;
  border-radius: 8px;
}

.tools {
  display: flex;
  align-items: center;
  padding: 9px;
}

.circle {
  padding: 0 4px;
}

.box {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
}

.red {
  background-color: #ff605c;
}

.yellow {
  background-color: #ffbd44;
}

.green {
  background-color: #00ca4e;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  background-color: #181717;
  outline: 3px #181717 solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
}

.button .text {
  color: white;
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
}

.button svg path {
  transition: 400ms;
}

.button:hover {
  background-color: transparent;
}

.button:hover .text {
  color: #181717;
}

.button:hover svg path {
  fill: #181717;
}

/* ================================= */
/* this is contact us section  */
/* ================================ */

.social-menu ul {
  position: absolute;
  left: 50%;
  padding: 0;
  margin: 0;
  transform: translate(-50%, -50%);
  display: flex;
}

.social-menu ul li {
  list-style: none;
  margin: 0 15px;
}

.social-menu ul li .fab {
  font-size: 30px;
  line-height: 60px;
  transition: 0.3s;
  color: #000;
}

.social-menu ul li .fab:hover {
  color: #fff;
}

.social-menu ul li a {
  /* position: relative; */
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  transition: 0.6s;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}

.social-menu ul li a:hover {
  transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover {
  background-color: rgba(0, 0, 0, 0.829);
}
.social-menu ul li:nth-child(2) a:hover {
  background-color: #0077b5;
}
.social-menu ul li:nth-child(3) a:hover {
  background-color: #e4405f;
}
.social-menu ul li:nth-child(4) a:hover {
  background-color: #1877F2;
}
.social-menu ul li:nth-child(5) a:hover {
  background-color: #FFFC00;
}
.social-menu ul li:nth-child(6) a:hover {
  background-color: #24A1DE;
}
